<!DOCTYPE html>
<html>

<head>
  <title>Panda Gallery</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <!-- <h1>🐼 Panda Gallery</h1> -->
  <img src="/images/panda-logo.png" width="700px" alt="">
  <nav class="navbar">
    <div class="nav-left">
      <a href="/">Home</a>
      <a href="/cats">Cats</a>
      <a href="/dogs">Dogs</a>
      <a href="/birds">Birds</a>
    </div>

    <div class="nav-right">
      <a href="/about" class="about-btn">About</a>
    </div>
  </nav>

  <p>A pet, or companion animal , is an animal kept primarily for a person's company or
    entertainment rather than as a working animal,<br> livestock, or a laboratory animal. Popular
    pets are often considered to have attractive/cute appearances, intelligence, and relatable<br>
    personalities, but some pets may be taken in on an altruistic basis (such as a stray
    animal) and accepted by the owner regardless of these characteristics.</p>
</body>

</html>