<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Butter Chicken (บัตเตอร์ชิกเก้น)</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container-food">
        <h1>Butter Chicken (บัตเตอร์ชิกเก้น)</h1>
        
        <div class="detail-content">
            <div class="detail-image">
                <img src="https://hips.hearstapps.com/hmg-prod/images/del089923-butterchicken-web-034-ls-index-64d50d1e960a1.jpg?crop=0.8888888888888888xw:1xh;center,top&resize=1200:*" alt="Butter Chicken">
            </div>
            
            <div class="detail-info">
                <h3>วัตถุดิบ (Ingredients):</h3>
                <ul>
                    <li>เนื้อไก่ (Chicken Thigh / Breast)</li>
                    <li>โยเกิร์ตรสธรรมชาติ</li>
                    <li>กระเทียมบด</li>
                    <li>ขิงบด</li>
                    <li>ผงการัมมาซาล่า</li>
                    <li>ผงปาปริก้า หรือผงพริก</li>
                    <li>เนย (Butter)</li>
                    <li>มะเขือเทศบด</li>
                    <li>วิปครีม</li>
                    <li>เกลือ</li>
                </ul>



                <h3>ข้อมูลโภชนาการ (Nutrition Facts):</h3>
                <ul class="no-bullets">
                    <li> พลังงาน: 450-550 kcal</li>
                    <li> โปรตีน: 25 g</li>
                    <li> คาร์โบไฮเดรต: 20 g</li>
                    <li> ไขมัน: 30 g</li>
                </ul>

                <h3>สถานที่จำหน่าย (Availability):</h3>
                <ul>
                    <li>ร้านอาหารอินเดีย</li>
                    <li>ร้านอาหารนานาชาติ</li>
                    <li>โรงแรม</li>
                </ul>
            </div>
        </div>

        <br>
        <a href="/" class="back-link">Back to home</a>
    </div>
</body>
</html>
